<h1>Listing owners</h1>

<% @players_by_owner.keys do |owner| %>
  <h2><%= owner.name %></h2>
  <table>
    <tr>
      <th>Player</th>
    </tr>

    <% @players_by_owner[owner].each do |player| %>
      <tr>
        <td><%= player.name %></td>
      </tr>
    <% end %>
  </table>
<% end %>

<br />

<%= link_to 'New Owner', new_owner_path %>
