<h1><%=@page_title%></h1>

<% @statuses.each do |status_tuple| %>
  <h2><%= status_tuple[1] %></h2>
  <table>
    <% @players_by_status[status_tuple[0]].each do |fantasy_player| %>
      <tr>
        <td><%= fantasy_player.player.name %></td>
      </tr>
    <% end %>
  </table>
<% end %>
